@model RegistrationViewModel

<h2>Thank You!</h2>

<p>Thank you for registering for our event. Here are the details you provided:</p>

<ul>
    <li>Name: @Model.Name</li>
    <li>Email: @Model.Email</li>
    <li>Phone: @Model.Phone</li>
    <li>Address: @Model.Address</li>
</ul>
